nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  margin: auto;
  height: 80px;
  border: 2px solid aqua;
  /* width: 100%; */
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
  margin-right: 10px;
  cursor: pointer;
  margin-right: 8%;
  padding: 10px;
  /* border: 2px solid black; */
}

.logoImg {
  display: flex;
  height: 80px;
  width: 80px;
  cursor: pointer;
  margin-left: 8%;
}